img.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

img.rounded {
  border-radius: 8px;
}

.diagram-medium {
  width: 600px;
  max-width: 100%;
}

span.icon-border:empty {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
}
