img.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

img.rounded {
  border-radius: 8px;
}

.diagram-medium {
  width: 600px;
  max-width: 100%;
}

/* Hide Categories tab in sidebar */
.sidebar a[href='/categories/'] {
  display: none !important;
}
